
*{
    margin: 0;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.new{
    float: left;
}
.mg{
    margin: 0 0 1vh 0;
}
.main1{
    background-color: aqua;
    height: 19.2vh;
}
.main2{
    height: 19.2vh;
}

.main3{
    height: 19.2vh;
}
.main4{
    height: 19.2vh;
}
.main5{
    background-color: aqua;
}
.mgwrapper1{
    background-color: bisque;
    margin: 0 1% 0 0;
    width: 49%;
    height: 19.2vh;
}
.mgwrapper2{
    background-color: blueviolet;
    width: 49%;
    height: 19.2vh;
    margin: 0 0 0 1%;
}
.mgwrapper3{
    background-color:brown;
    width: 32%;
    height: 19.2vh;
    margin: 0 1% 0 0;
}
.mgwrapper4{
    background-color:cadetblue;
    width: 32%;
    height: 19.2vh;
    margin: 0 1% 0 1%;
}
.mgwrapper5{
    background-color:rgb(255, 0, 0);
    width: 32%;
    height: 19.2vh;
    margin: 0 0 0 1%;
}
.mgwrapper6{
    background-color:rgb(0, 225, 255);
    width: 23.5%;
    height: 19.2vh;
    margin: 0 1% 0 0;
}
.mgwrapper7{
    background-color:rgb(0, 4, 255);
    width: 23.5%;
    height: 19.2vh;
    margin: 0 1% 0 1%;
}
.mgwrapper8{
    background-color:rgb(255, 123, 0);
    width: 23.5%;
    height: 19.2vh;
    margin: 0 0 0 1%;
}
.mgwrapper9{
    background-color:rgb(255, 0, 170);
    width: 23.5%;
    height: 19.2vh;
    margin: 0 0 0 1%;
}
.mgwrapper10{
    background-color:rgb(255, 0, 0);
    width: 18.4%;
    height: 19.2vh;
    margin: 0 1% 0 0;
}
.mgwrapper11{
    background-color:rgb(183, 0, 255);
    width: 18.4%;
    height: 19.2vh;
    margin: 0 1% 0 1%;
}
.mgwrapper12{
    background-color:rgb(0, 140, 255);
    width: 18.4%;
    height: 19.2vh;
    margin: 0 1% 0 1%;
}
.mgwrapper13{
    background-color:rgb(255, 251, 0);
    width: 18.4%;
    height: 19.2vh;
    margin: 0 0 0 1%;
}
.mgwrapper14{
    background-color:rgb(145, 255, 0);
    width: 18.4%;
    height: 19.2vh;
    margin: 0 0 0 1%;
}

